asyncio
discord
discord.py
datetime
aiohttp 
olorama
numpy
requests
gtts
discord.py
youtube-dl
PyNaCl
google-api-python-client
python-dotenv
colorama
discord
ffmpeg
requests
colorama
nmap
argparse
rich
urllib3
aiodns
aiohttp
aiohttp-socks
arabic-reshaper
async-timeout
attrs
certifi
chardet
colorama
future
future-annotations
html5lib
idna
Jinja2
lxml
MarkupSafe
mock
multidict
multidict
pycountry
PyPDF2
PySocks
python-bidi
requests-futures
six
socid-extractor
soupsieve
stem
torrequest
tqdm
typing-extensions
webencodings
xhtml2pdf
XMind
yarl
networkx
pyvis
reportlab
beautifulsoup4
